.AnimSeriesheader {
    font-size: 60px;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.NamesAudrey {
    font-size: 40px;
    margin-left: 375px;
    margin-bottom: 0px;
    margin-top: 60px;

}

.NamesBell {
    font-size: 40px;
    margin-left: 375px;
    margin-bottom: 0px;
    margin-top: 60px;

}

.AnimSeriesTitleAudrey {
    font-size: 30px;
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.AnimSeriesTitleBell {
    font-size: 30px;
    margin-left: 375px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.AnimSeriesInfoAudrey {
    margin-left: 250px;
    display: flex;
    color: rgb(36, 36, 36);
    text-align: justify;
}

.AnimSeriesInfoAudrey p{
    margin-right: 75px;
    font-size: 20px;
}

.AnimSeriesInfoAudrey div img {
    margin-right: 120px;
    width: 250px;
    height: auto;
    border-radius: 30px;
}


.AnimSeriesInfoBell {
    margin-left: 375px;
    display: flex;
    color: rgb(36, 36, 36);
    text-align: justify;
}

.AnimSeriesInfoBell p{
    margin-right: 75px;
    font-size: 20px;
}

.AnimSeriesInfoBell div img {
    margin-right: 120px;
    width: 250px;
    height: auto;
    border-radius: 30px;
}