.header {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #212738;
    display: flex;
}

.title {
    font-size: 24px;
    color: white;
    text-align: left;
    padding-left: 40px;
    flex-grow: 1;
}

ul li a {
    display: block;
    color: white;
    padding: 20px 45px;
    text-decoration: none;
    font-size: 40 px;
    align-items: center;
}

ul li a:hover {
    background-color: #111;
}

.logo {
    height: 100px;
    width: auto;

}

